doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        mata(name='viewport' content='width=device-width, initial-scale=1.0')
        title Welcome
        style.
            .motto {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-align: center;
            }
    body
        h1.motto Novus Ordo Seclorum
